*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #222738;
}
input{
    width: 60px;
    height: 55px;
    padding: 25px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;   
}
.grid-container {
    border-radius: 10px;
    height: auto;
    width: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: auto auto auto;
    background-color: #996633;
    padding: 5px;
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
}
#mainGrid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #222738;
}
#author{
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    margin: 40px;
}
#reset{
    font-size: 15px;
    padding: 30px 20px;
    background: #6e7888;
    border: none;
    color:#222738;
    border-radius: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 200px;
    padding-top: 3%;
    padding-bottom: 30px;
}
#reset:hover{
    background: #a6aab5;
    background: #4cffd7;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#re{
    margin-top: 760px;
    margin-left: 55%;
}
#solve{
    font-size: 15px;
    padding: 30px 20px;
    background: #6e7888;
    border: none;
    color:#222738;
    border-radius: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#solve:hover{
    background: #a6aab5;
    background: #4cffd7;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#so{
    margin-top: -78px;
    margin-left: 35%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
